footer {
    margin-top: 50px;
    width: 100%;
    background: #10263b
}

footer .inner {
    width: 1200px;
    margin: auto;
    text-align: center
}

footer .inner .logo-footer {
    height: 84px;
    padding-top: 16px;
    margin: 0 auto;
    display: inline-flex;
}


 footer .inner .logo-footer .widget-container{
    display: flex;
    align-items: center; 
    justify-content: center;
 }

footer .inner .logo-footer img {
    height: 100%
}

footer .inner .guide {
    padding-top: 47px
}

footer .inner .guide>li {
    display: inline-block;
    height: 22px;
    margin-right: 65px;
    font-size: 16px;
    line-height: 22px
}

footer .inner .guide>li a {
    color: #fff
}

footer .inner .guide>li:last-child {
    margin-right: 0
}

footer .inner .desc {
    font-size: 14px;
    margin-top: 14px;
    padding-bottom: 50px;
    color: #798088;
    display: flex;
    justify-content: center;
}


footer .inner .desc .menu-footer-menu-container>li {
    display: inline;
    margin-right: 20px;
}

#menu-footer-menu{
    display: inline-flex;
}

#menu-footer-menu .menu-item{
    margin-right: 20px;
}


@media screen and (max-width:1400px) {
    footer .inner {
        width: 100%
    }
}

footer .guide>div {
    margin-right: 37px
}