footer {
    margin-top: 50px;
    width: 100%;
    background: #10263b
}

footer .inner {
    width: 1200px;
    margin: auto;
    text-align: center
}

footer .inner .logo-footer {
    height: 84px;
    padding-top: 16px;
    margin: 0 auto
}

footer .inner .logo-footer img {
    height: 100%
}

footer .inner .guide {
    padding-top: 47px
}

footer .inner .guide>div {
    display: inline-block;
    height: 22px;
    margin-right: 65px;
    font-size: 16px;
    line-height: 22px
}

footer .inner .guide>div a {
    color: #fff
}

footer .inner .guide>div:last-child {
    margin-right: 0
}

footer .inner .desc {
    font-size: 14px;
    margin-top: 14px;
    padding-bottom: 50px;
    color: #798088
}

@media screen and (max-width:1400px) {
    footer .inner {
        width: 100%
    }
}

html[lang=vi] footer .guide>div {
    margin-right: 37px
}